<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos tudo o que você precisa!</h2>
                <hr class="light">
                <!--p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p-->
                <p class="text-faded">É preciso ir além do código. Nós podemos ajudá-lo a medir indicadores, interativade com redes sociais e outros insights de negócios.</p>
                <a href="#" class="btn btn-default btn-xl">Experimentar!</a>
            </div>
        </div>
    </div>
</section>
